<div style="text-align:center;">
	<%= image_tag "logo.png", size:100 %>
</div>
<p>
	<h3>Your order has been filled. Be on the lookout for your eggs at: <strong><%= @pickup_location.name %></strong></h3>
</p>

<h2 style="text-align:center">Pickup Details:</h2>

<p>
	<h3><strong>Delivery</strong></h3>
	If your order was marked to be delivered you will be hearing from us soon to arrange delivery.
</p>
<p>
	<h3><strong>Farm Pickup</strong></h3>
	Feel free to pickup at any time.
</p>
<p>
	<h3><strong>Other Pickup Locations</strong></h3>
	Any other delivery locations will be coordinated with you from a member of our team. Be on the look out for a call!
</p>